@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
    @keyframes pulse-shadow {
      0%, 100% {
        box-shadow: 0 0px 10px 8px rgba(255, 105, 180, 0.5);
      }
      50% {
        box-shadow: 0 0px 14px 12px rgba(255, 105, 180, 0.7);
      }
    }
  
    .animate-pulse-shadow {
      animation: pulse-shadow 2s infinite ease-in-out;
    }
  }
